{% extends "base.html" %}

{% block content %}

<style type="text/css">
    #table{
      overflow-y: scroll;
      height: 480px;
    }
</style>


    <div class="row">
        <div class="col-5">
            <h2>Assign To Members</h2>
       </div>
        <div class="col-2"></div>
    <!-- Search form -->
        <!-- <input class="form-control col" type="text" placeholder="Search" aria-label="Search"> -->
        <form class="d-flex col-4 " role="search" method="get" action="{{url}}">
            <input class="form-control me-2" type="search" name="search" placeholder="Search name" aria-label="Search">
            <button class="btn btn-outline-success" name="searchdata" type="submit">Search</button>
        </form>

    </div> 
  
    <hr>
    
    <div id="table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="col-1">M_Id</th>
                <th scope="col" class="col-1.5">Name</th>
                <th scope="col" class="col-1.5">EmailId</th>
                <th scope="col" class="col-1.5">Registered Date</th>
                <th scope="col" class="col-1">Balance</th>
                <th scope="col" class="col-1">Debt</th>
                <th scope="col" class="col-1.5">Operations</th>
            </tr>
            </thead>
            {% for member in members %}
            <tbody>
            <tr>
                <th scope="row">{{member.id}}</th>
                <td>{{member.member_name}}</td>
                <td>{{member.member_email}}</td>
                <td>{{member.registered_on}}</td>
                <td>{{member.balance}}</td>
                <td>{{member.debt}}</td>
                <td>
                     
                
                    <div style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <form action="{{url}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" class="form-control invisible" name="memberId" value="{{member.id}}">
                
                          <button class="btn btn-danger btn-sm" type="submit">Select</button>
      
                        </form>
                    </div>  
                  
                 
                </td>
            </tr> 
            
            </tbody>
            {% endfor %}
        </table>
    </div>


    {% endblock %}